<%= javascript_include_tag "count" %>
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
   	Rest of chara is <div id="count_up">140</div>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
